// Apply all hover states
@mixin biggen-hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin biggen-clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

// Mixin for creating page overlay that holds content
@mixin biggen-overlay($bg1:darken(lightblue, 15%), $bg2:darken($bg1, 25%)) {

  // Start hidden until radio button is clicked
  display: none;

  // Apply single background color
  background-color: $bg1;

  // Apply second background gradient if given
  @if $bg2 {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bg1), to($bg2));
    background-image: -webkit-linear-gradient(top, $bg1, $bg2);
    background-image:    -moz-linear-gradient(top, $bg1, $bg2);
    background-image:     -ms-linear-gradient(top, $bg1, $bg2);
    background-image:      -o-linear-gradient(top, $bg1, $bg2);
  }

  // Fill up the entire viewport
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Create a container for Biggen content
@mixin biggen-container($bg1:darken(lightblue, 15%), $bg2:darken(lightblue, 10%), $margin-top: 10%, $width: 50%) {
  // Apply single background color
  background-color: $bg1;

  // Apply second background gradient if given
  @if $bg2 {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bg1), to($bg2));
    background-image: -webkit-linear-gradient(top, $bg1, $bg2);
    background-image:    -moz-linear-gradient(top, $bg1, $bg2);
    background-image:     -ms-linear-gradient(top, $bg1, $bg2);
    background-image:      -o-linear-gradient(top, $bg1, $bg2);
  }
  width: $width;
  margin: $margin-top auto 0 auto;
  @include biggen-clearfix;
}

@mixin biggen-list($list-count: 2) {
  list-style: none;
  margin: 0;
  padding: 20px 0;

  @if $list-count == 2 {
    float: left;
    width: 50%;
  }
  @else if $list-count == 3 {
    float: left;
    width: 33.3%;
  }
}

@mixin biggen-list-item() {
  margin: 0;
}

@mixin biggen-list-item-link() {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px;
  display: inline-block;
  @include biggen-hover {
    color: darken(lightblue, 40%);
  }
}


// Default Styles
.biggen-overlay { @include biggen-overlay(); }
.biggen-container { @include biggen-container(); }
.biggen-list { @include biggen-list(); }
.biggen-list-item { @include biggen-list-item(); }
.biggen-list-item-link { @include biggen-list-item-link(); }

input[name="biggen-toggle"]:checked {
  ~ .biggen-overlay {
    display: block;
  }
}