// Force element to fill entire container
//
// - $position: Control position property of element
//
@mixin biggen-fill-container(
  $position: fixed
){

  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}