// Create a container for Biggen content
//
// - $bg1: Default is `darken(lightblue, 15%)`. Set the background color for container element
// - $bg2: Default is `false`. Creates a linear gradient between $bg1 and $bg2
// - $margin-top: Default is `10%`. Control how far away from the top of the page you want your menu to be
// - $padding: Default is `40px`. Control padding around the inside of a Biggen menu
// - $width: Default is `50%`. Control the non-mobile width of a Biggen menu
//
@mixin biggen-container(
  $bg1: $biggen-container-bg1,
  $bg2: $biggen-container-bg2,
  $margin-top: $biggen-container-margin-top,
  $padding: $biggen-container-padding,
  $width: $biggen-container-width
){

  position: relative;

  @if type-of($bg1) == color and type-of($bg2) == color or $bg2 == false {
    background-color: $bg1;
    @if $bg2 {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bg1), to($bg2));
      background-image: -webkit-linear-gradient(top, $bg1, $bg2);
      background-image:    -moz-linear-gradient(top, $bg1, $bg2);
      background-image:     -ms-linear-gradient(top, $bg1, $bg2);
      background-image:      -o-linear-gradient(top, $bg1, $bg2);
    }
  }
  @else {
    @warn "Please make sure you define an actual color.";
  }

  @if type-of($margin-top) == number and type-of($width) == number and type-of($padding) == number {
    margin: $margin-top auto 0 auto;
    padding: $padding;
    width: $width;
  }
  @else {
    @warn "Please make sure you define a number.";
  }

  @include biggen-clearfix;
}