// Style Biggen list item links
@mixin biggen-list-item-link(
  $font-size,
  $link-color,
  $link-hover-color,
  $text-decoration,
  $text-transform,
  $text-padding
){

  color: $link-color;
  text-decoration: $text-decoration;
  font-size: $font-size;
  text-transform: $text-transform;
  padding: $text-padding;
  display: inline-block;

  @include biggen-selected { color: $link-hover-color; }
}