// Mixin for creating page overlay that holds content
//  - Start hidden
//  - Single background color
//  - Gradient background color
@mixin biggen-overlay(
  $bg1: $biggen-overlay-bg1,
  $bg2: $biggen-overlay-bg2
){

  display: none;
  overflow-x: scroll;
  @include biggen-fill-container;

  @if type-of($bg1) == color and type-of($bg2) == color or $bg2 == false {
    background-color: $bg1;

    @if $bg2 {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bg1), to($bg2));
      background-image: -webkit-linear-gradient(top, $bg1, $bg2);
      background-image:    -moz-linear-gradient(top, $bg1, $bg2);
      background-image:     -ms-linear-gradient(top, $bg1, $bg2);
      background-image:      -o-linear-gradient(top, $bg1, $bg2);
    }
  }
  @else {
    @warn "Please make sure you define an actual color.";
  }
}