// Create toggle from radio input and match class names
@mixin biggen-toggle-action(
  $toggle-name: "biggen-toggle",
  $overlay-class: "biggen-overlay"
){

  &.#{$toggle-name} {
    position: relative;
    z-index: 999;

    + ##{$toggle-name} {
      position: absolute;
      left: -9999px;
      top: -9999px;

      &:checked + .#{$overlay-class} {
        display: block;
      }
    }
  }
}