// Create the menu link font-style
//  - Style the word and unicode icon
//  - Move unicode icon slightly for alignment
@mixin biggen-toggle-style(
  $font-size,
  $font-color,
  $font-weight: normal,
  $font-style: null,
  $text-transform: null
){

  color: $font-color;
  cursor: pointer;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  text-transform: $text-transform;

  @include biggen-selected { color: rgba($font-color, .7); }
}